.lead {
  max-width: calc(100% - 296px);
  margin: 0 auto;
  margin-top: 56px;
}

@media screen and (max-width: 1100px) {
  .lead {
    margin-top: 48px;
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 850px) {
  .lead {
    max-width: 768px;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    max-width: 320px;
  }
}
