.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 28px;
  max-width: 1184px;
  width: 100%;
  min-height: 52px;
}

@media screen and (max-width: 1100px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 850px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    margin-top: 16px;
    max-width: 288px;
  }
}

