.place {
  display: grid;
  gap: 48px 40px;
  grid-template-areas:
  "Header URL"
  "img p";
  grid-template-columns: minmax(min-content, max-content);
  grid-template-rows: 1fr;
}

.place:not(:nth-child(1)) {
  margin-top: 80px;
}

@media screen and (max-width: 1100px) {
  .place {
    gap: 48px 32px;
  }
}

@media screen and (max-width: 850px) {
  .place {
    gap: 48px 28px;
  }
  .place:not(:nth-child(1)) {
    margin-top: 73px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    grid-template-areas:
    "Header"
    "URL"
    "img"
    "p";
    row-gap: 32px;
    justify-items: center;
  }
  .place:not(:nth-child(1)) {
    margin-top: 50px;
  }
}
