.footer__list-item:nth-last-child(n+2) {
  margin-right: 18px;
}

@media screen and (max-width: 425px) {
  .footer__list-item:nth-last-child(n+2) {
    margin-right: 0;
    margin-bottom: 32px;
  }
}
